html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

body{
    background-image: url("wp246564.jpg");
    /* Full height */
    height:100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    /* background-position-y: top; */
    /* background-size: 100% 100%; */
    background-size: cover;
    background-blend-mode: darken;
    padding: 20px;

}


h2{
    color: rgb(196, 196, 196);
    text-align: center;
    font-size: 1.5em;
    margin-top: 2em;
}
/* 
h3{
    color: rgb(196, 196, 196);
    display: inline-block;
    font-size: 1em;
    margin-top: .5em;
    margin-bottom: 1.5em;
} */

button{
    background-color :transparent;
    color:rgb(196, 196, 196);
    border-radius: 2em;
    /* padding:.2em; */
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em;
    margin-right: 0em;
    border: .2px solid rgb(196, 196, 196);
    font-weight: 600;
}

button:focus{
    outline: none;
}


.modeSwitch1{
    background-color:transparent;
    color: rgb(73, 73, 73);
    border-radius: 2em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em;
    margin-right: 0em;
    border: .2px solid rgb(73, 73, 73);
    font-weight: 600;
}

.light{
    color: rgb(73, 73, 73);
    
}



.darkmode{
    background-image: url("photo-1492999104346-cabaa757be8f.jpg");
    /* Full height */
    height:100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: 100% 100%;
    background-blend-mode: darken;
    padding: 20px;

    
}


#inputdiv{
    text-align: center;
    margin-bottom: 1.5em;
}

input{
    border: 0px solid rgb(112, 112, 112);
    background-color: beige;
    height: 40px;
    /* width: 500px; */
    border-radius: 20px;
    text-align: center;
}

input:focus {
    outline : none;
}

input::placeholder{
    text-align: center;
}


ol {
    padding-left: -10px;
    
}

ol li{
    padding-left: 20px;
}

#listtitle{
    font-size: 20px;
    text-align: center;
}

#pendingtasks{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    /* width: 400px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}

#donetasks{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    /* width: 400px; */
    margin: auto;
    padding: 15px;
}

#list li:hover{
    text-decoration: line-through;
}

#pendingimage{
    height: 30px;
    display: inline;
    vertical-align: middle;

}

#modeimage{
    height:30px;
    vertical-align: middle;
    display: inline-block;
}

#modechangediv{
    text-align: center;
}
/* // how to give random color text to different list items */